---
layout: base.njk
title: "Jeff Chapman: Behind the Lens"
metaTitle: "Jeff Chapman: Behind the Lens | In Audible"
metaDescription: "Thoughts by Jeff Chapman from June 2014 for In Audible: The Baroque Cello Project."
---

<section class="hero-banner">
  <img src="/assets/images/f-hole-light.jpg" alt="In Audible banner image">
</section>

<section class="py-5">
  <div class="container">
    <header class="mb-5">
      <div class="row align-items-start">
        <div class="col-12 col-md-8">
          <p class="mb-2 text-uppercase small">Jeff Chapman</p>
          <h1 class="mb-0">Behind the Lens</h1>
        </div>
        <div class="col-12 col-md-4 text-md-end mt-3 mt-md-0">
          <p class="text-muted fst-italic mb-0">June 2014</p>
        </div>
      </div>
    </header>

    <div class="thought-piece">
      <p>
        Throughout my career in television and documentaries the filming I’ve done in the arts environment has
        always been the most rewarding. The subject matter is invariably interesting, and there’s scope for putting
        your own visual ‘take’ on the images produced. It allows creative freedom in a way working from a finished
        script does not.
      </p>

      <div class="row g-4 align-items-start my-4">
        <div class="col-12 col-lg-5">
          <figure class="mb-0">
            <img src="/assets/images/behind-the-lens.jpg" alt="Behind the Lens" class="img-fluid w-100">
            <figcaption class="small text-muted mt-2">
              documentation image: Leona Jones
            </figcaption>
          </figure>
        </div>

        <div class="col-12 col-lg-7">
          <p>
            Teamwork contains a hierarchy, whereas collaboration allows a much freer bouncing of ideas off other people.
            It’s been very stimulating to return to collaboration, having the support/questioning of people working on
            the same project but coming from different angles. Adam, Leona and I have worked closely together during
            videoing, all of us pooling our experiences, ideas and expertises. We’ve found the same wavelength,
            understanding this project is not a documentary about a cello being made, but a much more abstract
            examination of ideas around listening and seeing.
          </p>

          <p class="mb-0">
            From a practical perspective, during the making of the videos Leona and I have had to take into account the
            fact that Adam has been working on an intricate, ongoing, developing instrument, a process that allows no chance
            for ‘second goes’. We could not allow ourselves to compromise his process, which meant a fine line had to be
            walked between controlling the workshop environment to get the ‘right’ shot and allowing him to totally immerse
            himself in the rhythm of his work. This has meant shots have had to have been anticipated much more than set up -
            and certainly not staged. It’s taken time to discover the least intrusive way to film. Working in the moment,
            capturing images as they’ve unfolded, or the instant as it’s happened, has resulted in some misses, but also in
            a much larger number of positive outcomes that could not have been foreseen. It’s been an intense, exciting and
            rewarding challenge.
          </p>
        </div>
      </div>

      <p>
        Camera operators rarely have the chance to edit their own material – images are always handed to someone else
        for post-production. So being involved in the entire process has been a mind-opening return for my editing
        skills. As I write this, we’re still editing, but images have been selected, and three video sequences have
        started to form and flow. It’s a time of growth and expansion, both for the cello, the project, and myself.
      </p>
    </div>
  </div>
</section>
