---
layout: base.njk
title: "Part II: Summer 2015"
metaTitle: "Part II: Summer 2015 | In Audible"
metaDescription: "Part II presentation details for In Audible: The Baroque Cello Project."
---

<section class="hero-banner">
  <img src="/assets/images/f-hole-light.jpg" alt="In Audible banner image">
</section>

<section class="py-5">
  <div class="container">
    <h1 class="mb-4">in audible: The Baroque Cello Project (part II)</h1>
    <p class="mb-5"><em>The Chapel, Abergavenny, South Wales &nbsp;&nbsp; Tuesday 30 June - Saturday 4 July 2015</em></p>

    <div class="thought-piece">
      <div class="row g-4 align-items-center my-5">
        <div class="col-12 col-lg-5">
          <img src="/assets/images/chapel-card.jpg" alt="The Chapel, Abergavenny" class="img-fluid w-100">
        </div>

        <div class="col-12 col-lg-7">
          <p>
            A period of ambitious and careful restoration breathed new life into the previously neglected Chapel,
            a nineteenth century historic building in the centre of the market town of Abergavenny. in audible:
            The Baroque Cello Project (part II) was one of the first events to be programmed there following the
            venue's opening late in April 2015.
          </p>

          <p class="mb-0">
            An experimental multi-layered site-responsive sound-led installation with performance centred on the
            cello and the sounds of its making - the new collaborative group of Leona Jones, Siôn Dafydd Dawson,
            and contemporary dancer Laura Moy presented free semi-improvised performances as well as impromptu
            performances in and around The Chapel.
          </p>
        </div>
      </div>

      <div class="row g-4 align-items-center my-5">


        <div class="col-12 col-lg-7">

            <p class="mb-5">
            Take time to listen. Deeply listen. To the hidden, the undernoticed, the disregarded. Step out of the
            chaotic world as The Chapel becomes a liminal space of immersive shapesoundings. Unique sound/movement
            performances meld control and precision from baroque arts to the experimentation and passion of highly
            contemporary skills in order to explore the subtle, complex inter-relationship of sound and movement,
            and the deep dependence of both on silence and stillness.
          </p>
          <p class="mb-3">
            <div class="text-center">
                <p class="fw-bold mb-3">installation open daily 10.00 am - 5.00 pm</p>
                <strong>free performances:</strong><br>
                Tuesday 12 noon<br>
                Friday 12 noon<br>
                Saturday 12 noon and 3 pm
            </p>

            <p>
                impromptu performances throughout
            </p>
          </div>

          
        </div>
                <div class="col-12 col-lg-5">
          <figure class="mb-0">
            <img src="/assets/images/baroque-dance.jpg" alt="Baroque dance notation" class="img-fluid w-100">
            <figcaption class="small text-muted mt-2">
              baroque dance notation, 1700s
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="mt-5">
        <p class="mb-3">click the buttons for more info, sounds and images of part II</p>
        <div class="d-flex flex-column flex-sm-row flex-wrap gap-3">
          <a href="/devising/" class="btn btn-outline-dark">devising</a>
          <a href="/installation-performances/" class="btn btn-outline-dark">installation/performances</a>
          <a href="/life-drawing-group/" class="btn btn-outline-dark">life drawing group</a>
          <a href="/presentation-notes-part-II/" class="btn btn-outline-dark">presentation notes</a>
        </div>
      </div>
    </div>
  </div>
</section>
