---
layout: base.njk
title: Presentations
metaTitle: "Presentations | In Audible"
metaDescription: "Presentation history for In Audible: The Baroque Cello Project."
---

<section class="hero-banner">
  <img src="/assets/images/f-hole-light.jpg" alt="In Audible banner image">
</section>

<section class="py-5">
  <div class="container text-center">
    <h1 class="mb-5">Presentations</h1>

    <div class="mb-5">
      <h2>in audible: The Baroque Cello Project (Part II)</h2>
      <p>The Chapel, Abergavenny, South Wales</p>
      <p>Tuesday 30 June - Saturday 4 July 2015</p>
      <a href="/part-ii-summer-2015/" class="btn btn-outline-dark">Explore Part II</a>

    </div>

    <div class="mb-5">
      <h2>in audible: The Baroque Cello Project (Part I)</h2>
      <p>ArcadeCardiff, Cardiff, South Wales</p>
      <p>Thursday 23 October - Saturday 7 November 2014</p>
       <a href="/part-i-autumn-2014/" class="btn btn-outline-dark">Explore Part I</a>
    </div>

    <div class="mb-5">
      <p><em>an evolving and developing collaborative work<em></p>
    </div>


  </div>
</section>
