---
layout: base.njk
title: Thoughts
metaTitle: "Thoughts | In Audible"
metaDescription: "Reflections and writings from the makers behind In Audible: The Baroque Cello Project."
---

<section class="hero-banner">
  <img src="/assets/images/f-hole-light.jpg" alt="In Audible banner image">
</section>

<section class="py-5">
  <div class="container">
    <h1 class="mb-4">Thoughts</h1>
    <p class="mb-5">
      Reflections, notes and writings from the makers involved in In Audible: The Baroque Cello Project.
    </p>

    <div class="mb-5">
      <h2>Laura Moy</h2>
      <ul>
        <li><a href="/laura-moy-june-2015/">The Rehearsal Space — June 2015</a></li>
      </ul>
    </div>

    <div class="mb-5">
      <h2>Leona Jones</h2>
      <ul>
        <li><a href="/leona-jones-september-2014/">TThe Desktop - September 2015</a></li>
      </ul>
    </div>

    <div class="mb-5">
      <h2>Siôn Dafydd Dawson</h2>
      <ul>
        <li>More articles to come</li>
      </ul>
    </div>

    <div class="mb-5">
      <h2>Adam Winskill</h2>
      <ul>
        <li>More articles to come</li>
      </ul>
    </div>

    <div class="mb-5">
      <h2>Jeff Chapman</h2>
      <ul>
        <li>More articles to come</li>
      </ul>
    </div>
  </div>
</section>
